.form__button {
    box-shadow: 3px 2px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 10px;
    text-decoration: none;
}

.form__button:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

.form__button:active {
    position: relative;
    top: 1px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}