.tasks {
    margin: 0;
    padding: 5px;
    list-style: disc;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 5px;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #151212;
}

.tasks__item--done {
    text-decoration-line: line-through;
    text-decoration-color: crimson;
}

.tasks__button {}

.tasks__button--done {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:18px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 10px;
	text-decoration:none;
}
.tasks__button--done:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.tasks__button--done:active {
	position:relative;
	top:1px;
}

.tasks__button--remove {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.tasks__button--remove:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

.tasks__button--remove:active {
    position: relative;
    top: 1px;
}